@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Eina", sans-serif;
  background: #fff;
}

.hero{
  background-image: url('../src/assets/bg2.png') ;
  background-size: cover;
  background-clip: border-box;
  

}

.light{
    padding-bottom: 0px;
    background: url('../src/assets/light.png') 125px 85px / 100% no-repeat rgb(8, 140, 186);
    background-position: 125px 85px;
}

.phone2{
  margin: auto;
  
}

.ash{
  background: #f4f3f5 url(../src/assets/ash.png);
  background-position: -50px 20px;
  background-size: 65%;
  background-repeat: no-repeat;
  padding-bottom: 0;
  padding-top: 1em;
}

.wavy {
  position: relative;
  padding: 6.9375em 1.5em 0;
  border-radius: 2.625em;
  background: #212337 url('../src/assets/waves.png') 50% no-repeat;
  background-size: cover;
  color: #fff;
  margin-bottom: 52px;
}

.gridimage {
  background-image:  url('../src/assets/cardsprwal.png') ;
  background-size: cover;
  background-position: center;
}

.gridimage2 {
  background-image:  url('../src/assets/0100.jpg') ;
  background-size: cover;
  background-position: center;
}

.gridimagecenter {
  background-image:  url('../src/assets/Onboarding1.png') ;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
