

@tailwind base;
@tailwind components;
@tailwind utilities;



:root {

  background: #fff;
  
}

@font-face {
  font-family: 'GreatVibes';
  src: url('../src/assets/fonts/GreatVibes-Regular.ttf') format('truetype');
  font-family: 'Aon-Reg';
  src: url('../src/assets/fonts/Regular.otf') format('opentype');
  font-family: 'Aon-Med';
  src: url('../src/assets/fonts/Medium.otf') format('opentype');
  font-family: 'Aon-Light';
  src: url('../src/assets/fonts/Light.otf') format('opentype');
  font-family: 'Aon-Bold';
  src: url('../src/assets/fonts/Bold.otf') format('opentype');
}

.hero{
  background-image: linear-gradient(151deg,#098cb889 9%,#fff0 61%),url('../src/assets/iPhone 15 Mockup, Perspective(1).png');
  background-size: cover !important;
  background-position: 0 0,61%;
  background-clip: border-box;
  

}

.light{
    padding-bottom: 0px;
    background: url('../src/assets/light.png') 125px 85px / 100% no-repeat rgb(8, 140, 186);
    background-position: 125px 85px;
}

.phone2{
  margin: auto;
  
}

.ash{
  background: url(../src/assets/waves.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: white transparent;
  padding-bottom: 0;
  padding-top: 1em;
}

.wavy {
  position: relative;
  background: #212337 url('../src/assets/bg2.png') no-repeat;
  background-size: cover;
  color: #fff;
}

.gridimage {
  background-image:  url('../src/assets/cardsprwal.png') ;
  background-size: cover;
  background-position: center;
}

.gridimage2 {
  background-image:  url('../src/assets/0100.jpg') ;
  background-size: cover;
  background-position: center;
}

.gridimagecenter {
  background-image:  url('../src/assets/Onboarding1.png') ;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.wavy2 {
  position: relative;
  background: #212337 url('../src/assets/bg3.png') no-repeat;
  background-size: cover;
  color: #fff;
}



.hero2 {
  position: relative;
	background-image: linear-gradient(151deg,#3e1e10db 9%,#fff0 61%),url('../src/assets/iPhone 15 Mockup, Perspective(1).png');
	background-position: 0 0,61%;
	background-size: cover;
}

.imagehero {
    z-index: 199;
    pointer-events: auto;
    object-fit: cover;
    inset: auto 0% 0% auto;
    max-width: none;
    position: absolute;
    inset: auto 0% 0% auto;
  }

  .grid-blue {
    background-color: #f0f8e5;
    background-image: linear-gradient(45deg,#95d8ef 25%,#6bb1d7e2 92%);
    border-radius: 20px;
    border-color: #80abf1;
    border-radius: 20px;
  }

  .purple-grid {
    background-color: #efe4fb;
    background-image: linear-gradient(145deg,#efe4fb 35%,#e5cfff 74%);
    border-color: #e4cbff;
  }

  .greengrid1{
    background: rgb(255,227,74);
background: linear-gradient(30deg, rgba(255,227,74,1) 20%, rgba(250,255,191,1) 80%); 
      border-radius: 20px;
  }

  .greengrid2 {
   
    background-color: #f0f8e5;
    background-image: linear-gradient(140deg,#95d8ef 25%,#6bb2d7 92%);
    border-radius: 20px;
    height: 40em;
    max-height: 40em;
}

  

  .text-covert {
   
      letter-spacing: -1px;
      font-size: 50px;
      line-height: 1;
  }

  .text-convertsmall{


      letter-spacing: -.15px;




      font-size: 1.25em;
      line-height: 1.
  }

  .text-convertsmall2{

    letter-spacing: -.15px;
  


    font-size: 1.25em;

}


  .flextext{
      margin-top: 20px;
      margin-bottom: 10px;
      font-size: 24px;
      font-weight: 700;
      line-height: 30px;

  }

  .headcard {
    width: 600px;
    line-height: 1;
    margin-top: .5em;
    margin-bottom: 0;
    line-height: 3.7rem;
    letter-spacing: -1px;
    color: #1b1f28;
    font-size: 3.6rem;
  }

  .illustration {
    background-color: #f0f8e5;
    background-image: linear-gradient(45deg,#95d8ef 25%,#6bb1d7e2 92%);
    border-radius: 20px;
    height: 363px;
    position: relative;
    overflow: hidden;
  }

  .illustrationtwo {
    background: rgb(255,227,74);
background: linear-gradient(30deg, rgba(255,227,74,1) 20%, rgba(250,255,191,1) 80%); 
	height: 363px;
  border-radius: 20px;
	max-height: 363px;
  position: relative;
  overflow: hidden;
}

.illustrationthree {
  background-color: #f0f8e5;
  background-image: linear-gradient(45deg,#95d8ef 25%,#6bb1d7e2 92%);
  height: 363px;
  border-radius: 20px;
	max-height: 363px;
  position: relative;
  overflow: hidden;
}
